  
.sectio-padding{
    padding: 100px;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
bottom: 200px;
z-index: 2;
}
.carousel-caption h5{
    font-size: 45PX;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
 width: 60%;
 margin: auto;
 font-size: 18px;
 line-height: 1.9;
}

#fl{
    margin-right:60px ;
}

